.line-container {
	height: 5px;
	width: 100%;
	background-color: white;
	border-radius: 50;
	margin: 50;
}

.line-filler {
	height: 100%;
	border-radius: inherit;
	text-align: right;
	transition: width 5s ease-in-out;
}

span {
	padding: 5px;
	font-weight: bold;
	text-align: right;
}
